.popoverButton, .gameElement {
  position: absolute;
  transform: translate(-50%, -50%);
}

.popoverButton.point, .popoverButton.ball {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}

.gameElement.ball {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.point {
  background-color: red;
  border: 1px solid black;
}

.line {
  width: 1rem;
  height: 1rem;
  background-color: yellow;
  border: 1px solid;
}

.ball {
  background-color: white;
  border: 1px solid black;
}

.addPoint {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: green;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage {
  background-color: #ddd;
}

.nav {
  position: fixed;
  display: flex;
  top: 1rem;
  left: 1rem;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

.nav > a {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

input[type="image"] {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}

.topMenu {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  width: 10rem;
  margin: auto;
}