.stage {
  background-color: var(--stage-background);
}

.dialog {
  text-align: center;
  padding: 1rem;
  border: 0.1rem solid var(--accent-stroke);
  background-color: #aaa8;
  color: black;
  border-radius: 1rem;
}

.dialog .score {
  font-size: 3rem;
  margin: 0.5rem;
}

.links {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.links > * {
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #aaa8;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

.title {
  position: fixed;
  left: 1rem;
  color: white;
  width: 100vw;
  max-width: 20em;
  user-select: none;
}
