.stageButton {
  z-index: 1;
}

.popoverButton,
.stageButton {
  position: absolute;
  padding: 0;
  transform: translate(-50%, -50%);
  touch-action: none;
  cursor: pointer;
}

.popoverButton::before {
  content: "";
  position: absolute;
  border-radius: 1.5rem;
  width: 3rem;
  height: 3rem;
  transform: translate(-50%, -50%);
}

.popoverButton.point,
.popoverButton.ball {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}

.dimensions {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
}

.point {
  background-color: red;
  border: 1px solid black;
}

.line {
  width: 1rem;
  height: 1rem;
  background-color: yellow;
  border: 2px solid;
}

.ball {
  background-color: white;
  border: 1px solid black;
}

.polygon {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: greenyellow;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.addPoint {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: green;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage {
  background-color: #888;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 99;
}

.menu > nav > div {
  position: relative;
}

.menu > nav > div > button {
  background-color: #ccc;
  text-decoration: none;
  text-align: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  display: block;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 1px -1px 0,
    #000 -1px 1px 0;
  border: 0.1rem solid #888;
  border-top: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
}

.menu > nav > div:last-child > button {
  border-radius: 0 0 1.5rem 1.5rem;
}

.menu > nav > div:first-child > button {
  border-radius: 1.5rem 1.5rem 0 0;
  border-top: 0.1rem solid #888;
}

.menu > nav > div > label {
  display: none;
}

.menu > nav > div > button:hover + label {
  display: block;
  position: absolute;
  top: 0;
  left: 3.5rem;
  line-height: 3rem;
  text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff 1px -1px 0,
    #fff -1px 1px 0;
  font-size: 1.25rem;
}

.menu > nav .active {
  background-color: #fff;
}

.help {
  margin: auto;
  padding-top: 0.5rem;
}

.help > button {
  background-color: transparent;
  border: 0.2rem solid #fff;
  color: #fff;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: inherit;
  border-radius: 1.25rem;
  line-height: 0;
  filter: drop-shadow(0 0 0.2rem #000);
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
}

.help dialog {
  padding: 0;
  background-color: transparent;
  border: none;
}
.help dialog > div {
  background-color: white;
  border: 0.1rem solid black;
  padding: 1rem;
  max-width: 80vw;
  border-radius: 2rem;
}

.help h1,
.help h2 {
  margin: auto;
  text-align: center;
}

input[type="image"] {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}

.topMenu {
  position: fixed;
  top: 0.5rem;
  left: 0;
  right: 0;
  width: 10rem;
  margin: auto;
}

select.topMenu {
  border: 0.1rem solid #888;
  height: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.inputGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.2rem;
  align-items: baseline;
}

.inputGrid > input {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 1rem;
  border: 0.1rem solid #888;
  box-sizing: border-box;
}

button.delete {
  background-color: #c44;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  height: 1.5rem;
  border: 0.1rem solid #844;
  border-radius: 1rem;
  width: 75%;
  margin: auto;
}

button.delete:hover {
  background-color: #f44;
}

button.delete:active {
  background-color: #844;
}

.zoomButtons {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  z-index: 99;
  color: white;
}

.zoomButtons > button {
  padding: 0;
  background-color: #ccc;
  border: 0.2rem solid #888;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 1rem;
  opacity: 0.5;
  color: black;
  user-select: none;
  -webkit-user-select: none;
}

.zoomButtons > button:active {
  opacity: 1;
}
