.popover {
  display: none;
}

.container.open > .popover {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  gap: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #ccc;
  border: 0.1rem solid #888;
  border-radius: 0.75rem;
  z-index: 1;
  color: black;
}

.popover > legend {
  font-weight: bold;
  background-color: white;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  border: 0.1rem solid #888;
  padding: 0 1rem;
}

.container.open > :first-child {
  filter: drop-shadow(0 0 0.5vmin black);
}
