.controls {
  position: fixed;
  display: flex;
  bottom: 1vmin;
  left: 1vmin;
  gap: 1vmin;
}

.controlButton {
  font-size: xx-large;
  font-weight: bold;
  font-family: sans-serif;
  border: 0.2em solid #888;
  background-color: #fff;
  transition: opacity 0.05s linear;
  -webkit-user-select: none;
  user-select: none;
  color: black;
  text-align: center;
  opacity: 0.6;
}

.controlButton:active {
  opacity: 0.4;
}

.controlButton:disabled {
  opacity: 0.2;
}

.arrowButton {
  width: 30vmin;
  max-width: 6em;
  height: 15vmin;
  max-height: 3em;
  border-radius: 8vmin;
}

.speedButton {
  width: 25vmin;
  max-width: 5em;
  height: 15vmin;
  max-height: 3em;
  border-radius: 8vmin;
  opacity: 0.4;
}

.speedButton.active {
  opacity: 1;
}

.launchButton {
  position: fixed;
  bottom: max(-9vmin, -1.5em);
  right: max(-9vmin, -1.5em);
  width: 36vmin;
  max-width: 7em;
  height: 36vmin;
  max-height: 7em;
  border-radius: 20vmin;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s linear;
}
