.controls {
    position: fixed;
    display: flex;
    bottom: 0.5rem;
    left: 0.5rem;
    gap: 0.5rem;
}

.arrowButton {
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    width: 8rem;
    height: 4rem;
    border: 0.15rem solid #888;
    border-radius: 2rem;
}

.launchButton {
  position: fixed;
  font-size: xx-large;
  font-weight: bold;
  font-family: sans-serif;
  bottom: -2rem;
  right: -2rem;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 0.15rem solid #888;
}