:root {
  --stage-background: #8df;
  --text-on-background: #012;
  --polygon-fill: #c4bbbb;
  --surface-type-normal: #666;
  --surface-type-bouncy: #b4f;
  --surface-type-green: #6c6;
  --surface-type-hole: #080;
  --surface-type-sticky: #faf;
  --surface-type-water: #04c;
  --surface-type-slippery: #cff;
  --surface-type-sand: #fc0;
  --flag-pole: #000;
  --accent-stroke: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --stage-background: #012;
    --text-on-background: white;
    --polygon-fill: #384444;
    --surface-type-normal: #666;
    --surface-type-bouncy: #b4f;
    --surface-type-green: #4a4;
    --surface-type-hole: #080;
    --surface-type-sticky: #d6b;
    --surface-type-water: #06f;
    --surface-type-slippery: #4cf;
    --surface-type-sand: #db6;
    --flag-pole: #bbb;
    --accent-stroke: none;
  }
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--stage-background);
  color: var(--text-on-background);
  height: 100%;
  width: 100%;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
  overflow: hidden;
}

main {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: relative;
  overflow: scroll;
  line-height: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

main > * {
  line-height: normal;
}

a {
  color: #02a;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #0ff;
  }
}
